@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Montserrat:wght@400;500;600;700&display=swap');

/* @layer base {
  body {
    @apply font-[Montserrat];
  }
  li {
    @apply px-4
    @apply cursor-pointer;
  }
} */

body{
  /* background: red; */
  font-family: 'Montserrat', sans-serif;
}

li{
  padding-right: 1rem;
  padding-left: 1rem;
  cursor: pointer;
}
@font-face {
  font-family: 'Hind Madurai', sans-serif;
  src: url();
}
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url();
}
